.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-container {
  position: relative;
  width: 100%;
  top: 0;
}

.nav-wrapper, .footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(220, 157, 157);
  overflow: hidden;
}

.nav-wrapper {
  height: 80px;
}

.nav-wrapper a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.nav-wrapper a:hover {
  background-color: rgb(235, 172, 172);
  color: rgb(78, 6, 6);
}

.nav-wrapper a.active {
  background-color: rgb(200, 137, 137);
  color: white;
}

main {
  position: relative;
  min-height: calc(100vh - 180px);
}

.footer {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 90px;
  color: #f2f2f2;
  text-align: center;
  font-size: 24px;
}

.footer-text {
  position: relative;
  margin-top: 30px;
}

.four-o-four {
  font-size: 15ch;
  color: rgb(220, 157, 157);
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    vertical-align: middle;
}

.pets-table {
  position: relative;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

.pets-table td, .pets-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.pets-table tr:nth-child(even){background-color: #f2f2f2;}

.pets-table tr:hover {background-color: #ddd;}

.pets-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(220, 157, 157);
  color: white;
  cursor: pointer;
}

.pets-add-btn {
  margin-top: 30px;
  width: 15%;
}

/* Set the pointer cursor for all icons*/
svg {
  cursor: pointer;
}

.table-options {
  width: 8%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.edit-container {
  width: 80%;
}

.search-box {
  position: relative;
  margin-top: 40px;
}

/* Style taken from https://www.w3schools.com/howto/howto_css_animated_search.asp */
.search {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  font-size: medium;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search:focus {
  width: 50%;
}

.form-text, .form-number {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: rgb(220, 157, 157);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color:rgb(235, 172, 172);
}

.pet-form {
  margin-top: 40px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #f2f2f2;
  padding: 20px;
}

/* ------------------------------------------------------------- */

.about-table, .not-found {
  margin-top: 40px;
  width: 60%;
}

.about-image {
  padding: 20px;
}